<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio </title>
<style> 
ul.cities-blocks {list-style-type:none; margin: 0; padding: 0;}
ul.cities-blocks li {float:left;width:32%;margin-bottom:2%;margin-right:2%;position:relative; background-color: transparent;}
ul.cities-blocks li h2{margin-bottom:5px}
ul.cities-blocks li p {margin:0}
ul.cities-blocks li span{position:absolute;top:10px;left:12px;color:#fff;}
.no-marginR{margin-right:0!important}

</style>

  </head>
<body>




<div id="app">
 <ul class ="nav-bar">
 <ul>
  <li><a href="#home">Projects </a></li>
  <li><a href="#About ">Contact </a></li>
  <li><a href="#Contact">About  </a></li>
  <li><a href="#Project">Home </a></li>
 </ul>
<div>
 <h1>Welcome To Courtney's Portfolio</h1>
</div>

<div>
<IMG SRC="https://images.pexels.com/photos/2343475/pexels-photo-2343475.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" WIDTH="25%" HEIGHT="170" BORDER="0" ALT="budapest" >

</div>
