<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio </title>
<style> 
ul.cities-blocks {list-style-type:none; margin: 0; padding: 0;}
ul.cities-blocks li {float:left;width:32%;margin-bottom:2%;margin-right:2%;position:relative; background-color: transparent;}
ul.cities-blocks li h2{margin-bottom:5px}
ul.cities-blocks li p {margin:0}
ul.cities-blocks li span{position:absolute;top:10px;left:12px;color:#fff;}
.no-marginR{margin-right:0!important}

</style>

  </head>
<body>




<div id="app">
 <ul class ="nav-bar">
 <ul>
  <li><a href="#home">Projects </a></li>
  <li><a href="#About ">Contact </a></li>
  <li><a href="#Contact">About  </a></li>
  <li><a href="#Project">Home </a></li>
 </ul>
<div>
 <h1>Welcome To Courtney's Portfolio</h1>
</div>

<div>
<IMG SRC="https://t4.ftcdn.net/jpg/01/19/32/93/240_F_119329387_sUTbUdeyhk0nuhNw5WaFvOyQFmxeppjX.jpg" WIDTH="410" HEIGHT="200" BORDER="0" ALT="budapest" >

</div >
<div>
<h3>Get to know me </h3>
<p>
I am self-driven and a very honest individual my curiosity makes me  to learn new things every day, I
am very hard working willing to explore new things, I am sociable and also understanding I can
adapt to different environment , I also believe in giving my best when it comes to respecting other,i am very interested in developing mobile applications epecially improving the android mobile application , i also love storing information where its secured and easy for people to access. 
people

</p>
</div>
<div>
 <h2>Skills </h2>
 </div>
 
 <ul class="cities-blocks">
<div>
<li>
 <IMG SRC="https://t3.ftcdn.net/jpg/02/01/05/22/240_F_201052212_M2wpoRcv9qpysoPtHB8ruwnRekrVkHEx.jpg" WIDTH="200" HEIGHT="200" BORDER="0" >
</li>
<li>
<IMG SRC="https://t4.ftcdn.net/jpg/01/66/89/57/240_F_166895721_zZjEnHK3OgkmFzrGyt77QKZjaat0JP89.jpg" WIDTH="200" HEIGHT="200" BORDER="0" >
</li>
<li class="no-marginR"> 
 <IMG SRC="https://t3.ftcdn.net/jpg/03/35/96/88/240_F_335968869_RlMb5K0M1fyo95CA6UW7glbHmu3Yi000.jpg" WIDTH="200" HEIGHT="200" BORDER="0" > 
</li>
<li class="no-marginR"> 
<IMG SRC="https://t4.ftcdn.net/jpg/01/64/14/01/240_F_164140165_4kFr4aOTfbQh5h7N6tfqUnAInyls0E8v.jpg" WIDTH="200" HEIGHT="200" BORDER="0" > 
</li>

<li>
  <IMG SRC="https://t3.ftcdn.net/jpg/03/17/77/88/240_F_317778869_1tzk83ZoHIiV4uqweAzEW3QvnuLJlJYd.jpg" WIDTH="200" HEIGHT="200" BORDER="0" > 
  </li>
  
    <IMG SRC="https://t4.ftcdn.net/jpg/03/05/19/51/240_F_305195140_OG1FytqkF4PyjJF8Zz2J4AgsOQgQYvUm.jpg" WIDTH="200" HEIGHT="200" BORDER="0" > 
    </li>
</div>









